In [101]:
import pandas as pd

In [102]:
data = pd.read_csv('fundamentals.csv')
data.shape

(37590, 25)

In [103]:
data.head()

,gvkey,fqtr,fyearq,datadate,actq,apq,atq,ceqq,cheq,chq,...,invtq,lctq,lltq,ltq,piq,ppentq,rectq,req,revtq,conm
0,15565,1,2009,31/03/2009,NaN,NaN,44232.3,NaN,4553.6,4553.6,...,NaN,NaN,NaN,40999.6,279.6,797.8,NaN,NaN,291.9,GREAT EASTERN HOLDINGS LTD
1,15565,2,2009,30/06/2009,NaN,NaN,45320.3,NaN,4402.5,4402.5,...,NaN,NaN,NaN,41951.4,149.0,756.0,NaN,NaN,191.8,GREAT EASTERN HOLDINGS LTD
2,15565,3,2009,30/09/2009,NaN,NaN,47368.6,NaN,3601.4,3601.4,...,NaN,NaN,NaN,43964.1,17.3,745.9,NaN,NaN,246.5,GREAT EASTERN HOLDINGS LTD
3,15565,4,2009,31/12/2009,NaN,NaN,48531.2,NaN,3215.9,3215.9,...,NaN,NaN,NaN,44938.2,170.6,743.7,NaN,NaN,8482.9,GREAT EASTERN HOLDINGS LTD
4,15565,1,2010,31/03/2010,NaN,NaN,50851.5,NaN,3057.0,3057.0,...,NaN,NaN,NaN,47006.6,201.2,749.4,NaN,NaN,212.1,GREAT EASTERN HOLDINGS LTD

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37590 entries, 0 to 37589
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gvkey     37590 non-null  int64
 1   fqtr      37590 non-null  int64
 2   fyearq    37590 non-null  int64
 3   datadate  37590 non-null  object
 4   actq      30694 non-null  float64
 5   apq       34866 non-null  float64
 6   atq       36488 non-null  float64
 7   ceqq      30698 non-null  float64
 8   cheq      36871 non-null  float64
 9   chq       5777 non-null   float64
 10  cogsq     29835 non-null  float64
 11  cstkq     36429 non-null  float64
 12  dlcq      31963 non-null  float64
 13  dlttq     29215 non-null  float64
 14  gpq       30306 non-null  float64
 15  invtq     29863 non-null  float64
 16  lctq      30694 non-null  float64
 17  lltq      28430 non-null  float64
 18  ltq       36486 non-null  float64
 19  piq       36959 non-null  float64
 20  ppentq    31881 non-null  float64
 21  rectq     30433 non-null  float64
 22  req       30639 non-null  float64
 23  revtq     36056 non-null  float64
 24  conm      37590 non-null  object
dtypes: float64(20), int64(3), object(2)
memory usage: 7.2+ MB

In [105]:
# APQ -- Account Payable/Creditors - Trade (accountsPayable in list one)
# ACTQ -- Current Assets - Total (currentAssets in list one) - Matched
# ATQ -- Assets - Total (totalAssets in list one) - Matched
# CEQQ -- Common/Ordinary Equity - Total (commonStockEquity in list one) - Matched
# CHEQ -- Cash and Short-Term Investments (cashAndCashEquivalents in list one)
# CHQ -- Cash (cashFinancial in list one)
# COGSQ -- Cost of Goods Sold (costOfRevenue in list one)
# CSTKQ -- Common/Ordinary Stock (Capital) (commonStock in list one) - Matched
# DLCQ -- Debt in Current Liabilities (currentDebt in list one)
# DLTTQ -- Long-Term Debt - Total (longTermDebt in list one)
# GPQ -- Gross Profit (Loss) (grossProfit in list one)
# INVTQ -- Inventories - Total (inventory in list one) - Matched
# LCTQ -- Current Liabilities - Total (currentLiabilities in list one) - Matched
# LLTQ -- Long-Term Liabilities (Total) (totalNonCurrentLiabilitiesNetMinorityInterest in list one) - Matched
# LTQ -- Liabilities - Total (totalLiabilitiesNetMinorityInterest in list one) - Matched
# PIQ -- Pretax Income (pretaxIncome in list one)
# PPENTQ -- Property Plant and Equipment - Total (Net) (grossPPE in list one)
# RECTQ -- Receivables - Total (receivables in list one)
# REQ -- Retained Earnings (retainedEarnings in list one)
# REVTQ -- Revenue - Total (totalRevenue in list one)

In [122]:
from yahoofinancials import YahooFinancials
sembcorp = YahooFinancials('SBOA.SG')
balance_sheet = sembcorp.get_financial_stmts('quarterly', 'balance').get('balanceSheetHistoryQuarterly').get('SBOA.SG')[0]
income_statement = sembcorp.get_financial_stmts('quarterly', 'income').get('incomeStatementHistoryQuarterly').get('SBOA.SG')[0]
cash_flow = sembcorp.get_financial_stmts('quarterly', 'cash').get('cashflowStatementHistoryQuarterly').get('SBOA.SG')[0]

In [132]:
# Get quarterly balance sheet data
import yfinance as yf
sembcorp = yf.Ticker('SBOA.SG')
sembcorp.history(period='3m')
balance_sheet = sembcorp.balance_sheet
income_statement = sembcorp.financials
cash_flow = sembcorp.cashflow

In [133]:
balance_sheet_pd = pd.DataFrame.from_dict(balance_sheet).T
income_statement_pd = pd.DataFrame.from_dict(income_statement).T
cash_flow_pd = pd.DataFrame.from_dict(cash_flow).T

In [135]:
balance_sheet_pd.head()

,Treasury Shares Number,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,...,Work In Process,Raw Materials,Other Receivables,Taxes Receivable,Accounts Receivable,Cash Cash Equivalents And Short Term Investments,Other Short Term Investments,Cash And Cash Equivalents,Cash Equivalents,Cash Financial
2022-12-31,10763948.0,1776783784.0,1787547732.0,5816000000.0,7357000000.0,3280000000.0,11047000000.0,1687000000.0,3280000000.0,287000000.0,...,NaN,135000000.0,658000000.0,4000000.0,665000000.0,1291000000.0,37000000.0,1254000000.0,398000000.0,856000000.0
2021-12-31,7515526.0,1780032206.0,1787547732.0,6047000000.0,7649000000.0,3377000000.0,11158000000.0,1028000000.0,3377000000.0,258000000.0,...,1000000.0,221000000.0,746000000.0,4000000.0,1000000000.0,1429000000.0,85000000.0,1344000000.0,549000000.0,795000000.0
2020-12-31,6238773.0,1781308959.0,1787547732.0,6696000000.0,7954000000.0,2991000000.0,11067000000.0,877000000.0,2991000000.0,226000000.0,...,NaN,192000000.0,576000000.0,3000000.0,871000000.0,1130000000.0,98000000.0,1032000000.0,301000000.0,731000000.0
2019-12-31,1966276.0,1785581456.0,1787547732.0,9033000000.0,11304000000.0,6241000000.0,17671000000.0,83000000.0,6241000000.0,504000000.0,...,NaN,225000000.0,1998000000.0,16000000.0,1188000000.0,1861000000.0,94000000.0,1767000000.0,380000000.0,1387000000.0

In [120]:
income_statement_pd.head()

,costOfRevenue,dilutedNIAvailtoComStockholders,eBITDA,ebit,generalAndAdministrativeExpense,grossProfit,interestExpense,interestExpenseNonOperating,interestIncome,interestIncomeNonOperating,...,reconciledDepreciation,sellingGeneralAndAdministration,taxEffectOfUnusualItems,taxProvision,taxRateForCalcs,totalExpenses,totalOtherFinanceCost,totalRevenue,totalUnusualItems,totalUnusualItemsExcludingGoodwill
2022-12-31,6.598000e+09,848000000.0,1.618000e+09,1.157000e+09,499000000.0,1.227000e+09,292000000.0,292000000.0,31000000.0,31000000.0,...,461000000.0,499000000.0,-319075.144509,138000000.0,0.159538,6.928000e+09,16000000.0,7.825000e+09,-2000000.0,-2000000.0

In [121]:
cash_flow_pd.head()

,beginningCashPosition,capitalExpenditure,cashDividendsPaid,changeInCashSupplementalAsReported,changeInInventory,changeInOtherCurrentAssets,changeInPayable,changeInReceivables,changeInWorkingCapital,changesInCash,...,purchaseOfInvestment,purchaseOfPPE,repaymentOfDebt,repurchaseOfCapitalStock,saleOfBusiness,saleOfIntangibles,saleOfInvestment,saleOfPPE,stockBasedCompensation,taxesRefundPaid
2022-12-31,1.297000e+09,-615000000.0,-125000000.0,64000000.0,-51000000.0,13000000.0,-212000000.0,274000000.0,24000000.0,64000000.0,...,-567000000.0,-608000000.0,-3.544000e+09,-27000000.0,12000000.0,0.0,617000000.0,2000000.0,27000000.0,-64000000.0

In [114]:
sembcorp_from_data = data[data['conm'] == 'SEMBCORP INDUSTRIES LTD']
sembcorp_from_data = sembcorp_from_data[data['datadate'] == "31/12/2022"]
sembcorp_from_data

C:\Users\vigne\AppData\Local\Temp\ipykernel_27504\114266857.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sembcorp_from_data = sembcorp_from_data[data['datadate'] == "31/12/2022"]

,gvkey,fqtr,fyearq,datadate,actq,apq,atq,ceqq,cheq,chq,...,invtq,lctq,lltq,ltq,piq,ppentq,rectq,req,revtq,conm
357,19774,4,2022,31/12/2022,6508.0,169.0,16020.0,3977.0,1376.0,NaN,...,137.0,4821.0,6983.0,11804.0,0.0,5305.0,1327.0,4050.0,NaN,SEMBCORP INDUSTRIES LTD

In [118]:
# APQ -- Account Payable/Creditors - Trade (accountsPayable in list one)
print("APQ: ", sembcorp_from_data['apq'].values[0])
print("APQ: ", balance_sheet_pd['accountsPayable'][0])
# ACTQ -- Current Assets - Total (currentAssets in list one)
print("ACTQ: ", sembcorp_from_data['actq'].values[0])
print("ACTQ: ", balance_sheet_pd['currentAssets'][0])
# ATQ -- Assets - Total (totalAssets in list one)
print("ATQ: ", sembcorp_from_data['atq'].values[0])
print("ATQ: ", balance_sheet_pd['totalAssets'][0])
# CEQQ -- Common/Ordinary Equity - Total (commonStockEquity in list one)
print("CEQQ: ", sembcorp_from_data['ceqq'].values[0])
print("CEQQ: ", balance_sheet_pd['commonStockEquity'][0])
# CHEQ -- Cash and Short-Term Investments (cashAndCashEquivalents in list one)
print("CHEQ: ", sembcorp_from_data['cheq'].values[0])
print("CHEQ: ", balance_sheet_pd['cashAndCashEquivalents'][0])
# CHQ -- Cash (cashFinancial in list one)
print("CHQ: ", sembcorp_from_data['chq'].values[0])
print("CHQ: ", balance_sheet_pd['cashFinancial'][0])
# COGSQ -- Cost of Goods Sold (costOfRevenue in list one)
print("COGSQ: ", sembcorp_from_data['cogsq'].values[0])
print("COGSQ: ", income_statement_pd['costOfRevenue'][0])
# CSTKQ -- Common/Ordinary Stock (Capital) (commonStock in list one)
print("CSTKQ: ", sembcorp_from_data['cstkq'].values[0])
print("CSTKQ: ", balance_sheet_pd['commonStock'][0])
# DLCQ -- Debt in Current Liabilities (currentDebt in list one)
print("DLCQ: ", sembcorp_from_data['dlcq'].values[0])
print("DLCQ: ", balance_sheet_pd['currentDebt'][0])
# DLTTQ -- Long-Term Debt - Total (longTermDebt in list one)
print("DLTTQ: ", sembcorp_from_data['dlttq'].values[0])
print("DLTTQ: ", balance_sheet_pd['longTermDebt'][0])
# GPQ -- Gross Profit (Loss) (grossProfit in list one)
print("GPQ: ", sembcorp_from_data['gpq'].values[0])
print("GPQ: ", income_statement_pd['grossProfit'][0])
# INVTQ -- Inventories - Total (inventory in list one)
print("INVTQ: ", sembcorp_from_data['invtq'].values[0])
print("INVTQ: ", balance_sheet_pd['inventory'][0])
# LCTQ -- Current Liabilities - Total (currentLiabilities in list one)
print("LCTQ: ", sembcorp_from_data['lctq'].values[0])
print("LCTQ: ", balance_sheet_pd['currentLiabilities'][0])
# LLTQ -- Long-Term Liabilities (Total) (totalNonCurrentLiabilitiesNetMinorityInterest in list one)
print("LLTQ: ", sembcorp_from_data['lltq'].values[0])
print("LLTQ: ", balance_sheet_pd['totalNonCurrentLiabilitiesNetMinorityInterest'][0])
# LTQ -- Liabilities - Total (totalLiabilitiesNetMinorityInterest in list one)
print("LTQ: ", sembcorp_from_data['ltq'].values[0])
print("LTQ: ", balance_sheet_pd['totalLiabilitiesNetMinorityInterest'][0])
# PIQ -- Pretax Income (pretaxIncome in list one)
print("PIQ: ", sembcorp_from_data['piq'].values[0])
print("PIQ: ", income_statement_pd['pretaxIncome'][0])
# PPENTQ -- Property Plant and Equipment - Total (Net) (grossPPE in list one)
print("PPENTQ: ", sembcorp_from_data['ppentq'].values[0])
print("PPENTQ: ", balance_sheet_pd['grossPPE'][0])
# RECTQ -- Receivables - Total (receivables in list one)
# print("RECTQ: ", sembcorp_from_data['rectq'].values[0])
# print("RECTQ: ", balance_sheet_pd['receivables'][0])
# REQ -- Retained Earnings (retainedEarnings in list one)
# print("REQ: ", sembcorp_from_data['req'].values[0])
# print("REQ: ", balance_sheet_pd['retainedEarnings'][0])
# REVTQ -- Revenue - Total (totalRevenue in list one)
print("REVTQ: ", sembcorp_from_data['revtq'].values[0])
print("REVTQ: ", income_statement_pd['totalRevenue'][0])

APQ:  169.0
APQ:  163000000.0
ACTQ:  6508.0
ACTQ:  6508000000.0
ATQ:  16020.0
ATQ:  16020000000.0
CEQQ:  3977.0
CEQQ:  3977000000.0
CHEQ:  1376.0
CHEQ:  1254000000.0
CHQ:  nan
CHQ:  856000000.0
COGSQ:  nan
COGSQ:  6598000000.0
CSTKQ:  566.0
CSTKQ:  566000000.0
DLCQ:  1113.0
DLCQ:  1096000000.0
DLTTQ:  6244.0
DLTTQ:  5974000000.0
GPQ:  nan
GPQ:  1227000000.0
INVTQ:  137.0
INVTQ:  137000000.0
LCTQ:  4821.0
LCTQ:  4821000000.0
LLTQ:  6983.0
LLTQ:  6983000000.0
LTQ:  11804.0
LTQ:  11804000000.0
PIQ:  0.0
PIQ:  865000000.0
PPENTQ:  5305.0
PPENTQ:  8395000000.0
REVTQ:  nan
REVTQ:  7825000000.0